<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691755548374-72ovfckhjr5634ib1pj99f0kjui246ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691755548374-72ovfckhjr5634ib1pj99f0kjui246ct</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691755548374-apjfcf2397g4h29a5abl2t2j6dl1jv4u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIMAkHk-8qQG9fp29XSca66q1LHpNPZWM</string>
	<key>GCM_SENDER_ID</key>
	<string>691755548374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamricmedical.arkfit</string>
	<key>PROJECT_ID</key>
	<string>arkfit-app</string>
	<key>STORAGE_BUCKET</key>
	<string>arkfit-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691755548374:ios:97bce13aa2c6443210d377</string>
</dict>
</plist>